<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".FocusBlockerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lockin Focus Blocker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LockinFocusBlocker">

        <activity
            android:name=".ui.blocker.BlockerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.LockinFocusBlocker.Blocker" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LockinFocusBlocker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FocusMonitoringService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>

